.accordeon{
	width: 300px;
	margin: 100px;
}
.accordeon__triger{
	text-decoration: none;
	color: #333;
	background-color: #f5f5f5;
	display: block;
	padding: 6px;
	border: 1px solid #ddd;
}
.accordeon__inner{
	margin-left: 20px;
	list-style-type: none;
}
.accordeon__item{
	margin-bottom: 10px;
	list-style-type: none;
}
.accordeon__inner-link{
	text-decoration: none;
	color: #34495e;
	border-bottom: 1px dotted #34495e;
}
.accordeon__inner-item{
	list-style: disc;
	margin-bottom: 2px;
}
.accordeon__inner{
	display: none;
}